.post-banner {
    height: 300px;
    &.tutorial-banner {
        background: $aquamarine;
        background: linear-gradient(90deg, $aquamarine 0%, $deep-blue 66%, $purple 100%);
        color: $white;
    }
}

#tutorial-content {
    margin-top: 40px;

    @media screen and (min-width: $lg) {
        .content-wrapper:not(.with-columns) {
            max-width: 55%;
        }
        
        .content-wrapper.with-columns {
            column-count: 2;
            column-gap: 150px;
            column-rule: 1px solid $ivory;
        }
    }

    p, ul, ol {
        text-align: justify;
    }
}

.step {
    margin-top: 50px;

    @media screen and (min-width: $lg) {
        margin-top: 100px;
    }

    ul {
        li {
            & + li {
                margin-top: 15px;
            }
        }
        @media screen and (min-width: $lg) {
            padding-right: 30px;
        }
    }
}

div.enlighter-v-standard {
    display: inline-block;
    width: 100%;
}