.post-banner {
    height: 300px;
    &.tutorial-banner {
        background: $aquamarine;
        background: linear-gradient(90deg, $aquamarine 0%, $deep-blue 66%, $purple 100%);
        color: $white;
    }
}

#tutorial-content {
    margin-top: 40px;

    @media screen and (min-width: $lg) {
        .content-wrapper {
            padding-right: 170px;
        }
    }
}