body {
    color: $black;
    font-family: Ubuntu, sans-serif;
    line-height: 1.7;
}

p {
    font-size: 18px;

    & + p {
        margin-top: 25px;
    }
}

p, ul, ol, a {
    @media screen and (min-width: $lg) {
        word-spacing: 5px;
        letter-spacing: 0.5px;
    }
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
    margin-bottom: 10px;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
    margin-top: 10px;
}

p + h2,
div + h2,
ul + h2,
ol + h2 {
    margin-top: 50px;
    
    @media screen and (min-width: 768px) {
        margin-top: 80px;
    }
}

p + h3,
div + h3 {
    margin-top: 30px;
}

.content-wrapper a {
    color: $black;

    &:hover {
        background: linear-gradient(160deg, $red 30%, $yellow 30%,$yellow 70%, $pink 60%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-decoration: underline;
    }
}