$aquamarine: #00ffe7;
$black: #000;
$carnation-pink: #F7ACCF;
$dark-blue: #253C78;
$deep-blue: #2f2fd9;
$ebony: #515751;
$ivory: #F5F9E9;
$neon-blue: #6874E8;
$purple: #392759;
$satin: #D36582;
$white: #fff;

$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;
$xxl: 1500px;